body {
  min-width: 360px;

  font-size: 14px;
  line-height: 120%;

  background-image: url('./../images/fon-pic.png');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.header-page {
  height: 100vh;
  width: 100%;
  margin-bottom: 200px;
  padding-top: 64px;

  display: grid;
  grid-template-columns: 1fr [content]12fr 1fr;
  grid-template-rows: auto [title]1fr;
  grid-gap: 64px 0px;
  @media (max-width: 1274px) {
    grid-template-columns: 12px [content]1fr 12px;
    grid-gap: 48px 0;
    padding-top: 24px;
  }
}

.page-header__up-wrapper {
  grid-column: content;

  display: grid;
  grid-template-columns: [logo] 1fr [nav]10fr [git] 1fr;
  grid-gap: 64px;

  @media (max-width: 1274px) {
    grid-template-columns: [logo] 1fr [nav]3fr [git] 1fr;
    grid-gap: 12px;
  }
}

.header-page__logo {
  grid-column: logo;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 1274px) {
    justify-content: flex-start;
  }
}

.header-page__git-acc {
  grid-column: git;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 1274px) {
    justify-content: flex-end;
  }
}

.header-page__git-acc-link {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Gilroy';
  font-size: 14px;
  line-height: 21px;

  color: #ffffff;

  & svg {
    margin-right: 8px;
  }
}

.page-header__center-wrapper {
  grid-column: content;
  grid-row: title;

  width: 100%;

  display: grid;
  grid-template-columns: [left] 1fr [center] 10fr [right] 1fr;
  grid-gap: 64px;
  @media (max-width: 1274px) {
    grid-template-columns: [left] 1fr [center]4fr [right] 1fr;
    grid-gap: 12px;
  }
}

.page-header__contacts-list {
  grid-column: left;
  display: block;

  @media (max-width: 1274px) {
    display: none;
  }
}

.contacts-list__title {
  margin-bottom: 24px;

  font-family: 'Gilroy';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  writing-mode: tb-rl;
}

.contacts-list__item {
  width: 20px;
  height: 20px;

  overflow: hidden;
  transition: all 0.3s;

  &:hover {
    width: 100%;
  }

  &:not(:last-of-type) {
    margin-bottom: 24px;
  }
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.contacts-list__link {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.link-text {
  margin-left: 10px;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  font-family: 'Gilroy';
  font-style: normal;
  font-size: 16px;
  line-height: 20px;

  color: #ffffff;

  @media (max-width: 1274px) {
    display: none;
  }
}

.page-header__title-block {
  grid-column: center;
  width: fit-content;
  justify-self: center;
  // display: flex;
  // flex-direction: column;
  // justify-content: flex-start;
  // align-items: center;

  @media (max-width: 1274px) {
    grid-column: left / right;
  }
}

.page-header__text {
  position: relative;
  padding-left: 96px;

  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;

  letter-spacing: 6px;
  text-transform: uppercase;

  color: var(--akcent);
  &::before {
    content: '';
    position: absolute;
    left: 0px;
    top: 50%;

    width: 72px;
    height: 2px;

    background-color: var(--akcent);
  }

  @media (max-width: 1274px) {
    padding-left: 0px;
    margin-bottom: 24px;

    display: flex;

    font-size: 12px;
    line-height: 16px;

    letter-spacing: 6px;

    &::before {
      content: none;
    }
  }
}

.page-header__title {
  margin: 0;
  padding: 0;
  margin-bottom: 22px;

  font-style: normal;
  font-weight: 600;
  font-size: 46px;
  line-height: 100px;

  @media (max-width: 1274px) {
    font-size: 24px;
    line-height: 26px;
  }
}

.page-header__desc {
  padding: 0;
  margin: 0;
  margin-bottom: 32px;
  font-weight: bold;

  font-size: 26px;
  line-height: 150%;
  color: white;

  @media (max-width: 1274px) {
    font-size: 16px;
    line-height: 150%;
  }
}

.page-header__pointer {
  display: flex;
  align-items: center;

  font-family: 'Gilroy';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;

  &-svg {
    margin-left: 16px;
  }

  @media (max-width: 1274px) {
    font-size: 14px;
    line-height: 120%;
  }
}

.page-header__slider {
  grid-column: right;
  height: fit-content;
  width: 100%;

  display: flex;
  justify-content: flex-end;
}

.page-header__slider-list {
  position: fixed;
  padding: 0 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  border-right: 3px solid rgba($color: #fff, $alpha: 0.5);

  filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.2));

  @media (max-width: 1274px) {
    padding: 0 6px;
    align-items: flex-start;
  }
}

.page-header__slider-item {
  position: relative;
  height: 62px;
  width: 100%;

  font-family: 'Gilroy';
  font-size: 18px;
  line-height: 22px;

  text-align: right;

  & a {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:hover {
    color: var(--akcent);
  }

  &::after {
    content: '';
    position: absolute;
    top: 0px;
    right: -36px;
    width: 5px;
    height: 0px;
    background-color: var(--akcent);

    border-radius: 20%;

    transition: all 0.3s ease-in-out;
  }

  &--active {
    color: var(--akcent);
    &::after {
      height: 62px;
    }
  }

  @media (max-width: 1274px) {
    height: 40px;

    &::after {
      right: -10px;
    }

    &--active {
      color: var(--akcent);
      &::after {
        height: 40px;
      }
    }
  }
}
